* {
  box-sizing: border-box;
}

header {
  height: 50px;
  border-bottom-color: gray;
  font-size: 28px;
  margin-left: 10px;
  display: inline;
}

#headerbutton {
  background-image: url('./img/button/Headerbutton.png');
  background-size: 100%;
  margin-left: 10px;
  margin-top: 10px;
  width: 28px;
  height: 28px;
}

.search-box {
  display: inline;
  margin-top: 10px;
  position: absolute;
  left: 25%;
  right: 25%;
}

.search-txt {
  width: 500px;
  height: 28px;
}

.search-btn {
  border: 1px;
}
